// Centralized color map
$colors: (
  white: #ffffff,
  black: #000,
  grey: #57575c,
  green: #c1d42f,
  pink: #ff2e69,
  off-white: #faf8f4,
  dark-grey: #2d2d35,
  yellow-tint: #fcf3b4,
  green-tint: #e3eaa5,
  blue: #00bbd8,
  blue-tint: #afe6ec,
  pink-tint: #fcbbca,
  orange: #ff8d28,
  charcoal: #38383f,
  orange-tint: #ffcc9e,
  yellow: #ffeb54,
);

// Breakpoint vars
$breakpoints: (
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xlg: 1600px,
);

// Padding & margin framework vars
$p-m-scale: (
  0: 0,
  8: 0.5rem,
  16: 1rem,
  24: 1.5rem,
  32: 2rem,
  40: 2.5rem,
  48: 3rem,
  56: 3.5rem,
  64: 4rem,
  72: 4.5rem,
  80: 5rem,
  88: 5.5rem,
  96: 6rem,
  104: 6.5rem,
  112: 7rem,
  120: 7.5rem,
  128: 8rem,
  136: 8.5rem,
  144: 9rem,
  152: 9.5rem,
  160: 10rem,
  168: 10.5rem,
  176: 11rem,
  184: 11.5rem,
  192: 12rem,
  200: 12.5rem,
  208: 13rem,
  216: 13.5rem,
  224: 14rem,
  232: 14.5rem,
  240: 15rem,
  248: 15.5rem,
  256: 16rem,
  264: 16.5rem,
  272: 17rem,
  280: 17.5rem,
  288: 18rem,
  296: 18.5rem,
  304: 19rem,
  312: 19.5rem,
  320: 20rem,
);

// Gap framework vars
$gaps: (
  0: 0,
  8: 0.5rem,
  16: 1rem,
  24: 1.5rem,
  32: 2rem,
  40: 2.5rem,
  48: 3rem,
  56: 3.5rem,
  64: 4rem,
  72: 4.5rem,
  80: 5rem,
  88: 5.5rem,
  96: 6rem,
  104: 6.5rem,
  112: 7rem,
  120: 7.5rem,
  128: 8rem,
  136: 8.5rem,
  144: 9rem,
  152: 9.5rem,
  160: 10rem,
);

// Width percentages to generate
$widths: (
  5,
  10,
  15,
  20,
  25,
  30,
  33,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100
);
