body.gallery-modal-open .main-wrap {
  position: relative;
  z-index: 2;
}

body.floorplan-modal-open .main-wrap {
  position: relative;
  z-index: 2;
}

.single-property {
  margin-top: 7rem;
  margin-bottom: 4rem;
  @include max-width(sm) {
    margin-top: 5rem;
  }
  @include min-width(xlg) {
    margin-top: 10rem;
  }
  h2 {
    @include font-size-50;
    line-height: clamp(1.2, 1.3, 1.4);
    margin: 0;
  }
  .title {
    svg {
      margin-top: 3px;
      width: 33px;
      height: 33px;
      @include max-width(sm) {
        width: 27px;
        height: 27px;
      }
      @include min-width(xlg) {
        width: 38px;
        height: 45px;
      }
    }
  }
}
.side-wrap {
  grid-column: 1 / 5;
  @include max-width(sm) {
    grid-column: span 12;
    margin-top: 1rem;
  }
  position: relative;
  z-index: 1;
}

.side-wrap.modal-active {
  z-index: 4;
}

.main-wrap {
  grid-column: 5 / 13;
  @include max-width(md) {
    grid-column: span 12;
  }
  position: relative;
  z-index: 0;
}

body.single-property {
  @include bg-color(white);
}

.property-footer {
  z-index: 3;
}

.share-trigger {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.share-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
}

.share-feedback {
  margin-top: 0rem;
  font-size: 14px;
}

.share-actions {
  position: relative;
}

.share-feedback {
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%);
  margin: 0;
  white-space: nowrap;
  pointer-events: none;
  @include min-width(sm) {
    position: absolute;
    left: 72%;
    bottom: 0rem;
    top: 38%;
    transform: translateX(-50%);
    margin: 0;
    white-space: nowrap;
    pointer-events: none;
  }
}

.share-modal {
  .viewing-modal__content {
    margin-top: 0rem;
  }
}

.copy.copied::after {
  content: "Copied!";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #2d2d35;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.copy {
  background: 0;
  border: 0;
  cursor: pointer;
  margin-left: 0;
  padding: 0;
}

/* WHATSAPP */
.share-actions a.whatsapp:hover svg > path:nth-of-type(1) {
  fill: #ff2e69;
}

.share-actions a.whatsapp:hover svg > path:nth-of-type(3) {
  fill: #ff2e69;
}

.share-actions {
  margin-top: 3rem;
  @include max-width(sm) {
    margin-top: 1rem;
    svg {
      width: 36px;
    }
  }
  a svg path,
  button svg path {
    transition:
      fill 0.3s ease,
      stroke 0.3s ease;
  }

  /* WHATSAPP — only change circle */
  a.whatsapp:hover svg > path:first-of-type {
    fill: #ff2e69;
  }

  /* FACEBOOK */
  a.facebook:hover svg > path:first-of-type {
    fill: #ff2e69;
  }

  a.facebook:hover svg g path {
    fill: #ffffff;
  }

  /* PINTEREST */
  a.pinterest:hover svg > path:first-of-type {
    fill: #ff2e69;
  }

  a.pinterest:hover svg > path:not(:first-of-type) {
    fill: #ffffff;
  }

  /* EMAIL */
  a.email:hover svg > path:first-of-type {
    fill: #ff2e69;
  }

  a.email:hover svg > path:not(:first-of-type) {
    fill: #ffffff;
  }

  /* COPY */
  button.copy:hover svg > path:first-of-type {
    fill: #ff2e69;
  }

  button.copy:hover svg > path:not(:first-of-type) {
    stroke: #ffffff;
  }
}
.viewing-modal {
  position: fixed;
  inset: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.25s ease;

  h2 {
    @include font-size-50;
    @include text-color(dark-grey);
    margin-bottom: 1rem;
    line-height: 1.1;
    @include max-width(sm) {
      max-width: 19ch;
    }
  }

  .gform_wrapper.gravity-theme
    input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not(
      [type="file"]
    ) {
    line-height: 1;
  }
  p {
    margin-bottom: 1rem;
    max-width: 80%;
    @include max-width(xlg) {
      max-width: 75%;
    }
    @include max-width(sm) {
      max-width: 100%;
    }
  }
  p,
  a {
    @include font-size-18;
    @include text-color(dark-grey);
    @include area;
  }
  a {
    @include text-color(dark-grey);
    transition: all 0.3s;
    &:hover {
      @include text-color(green);
    }
  }
  .icon {
    position: absolute;
    right: 1.5rem;
    width: 185px;
    top: 1rem;

    @include max-width(sm) {
      display: none;
    }
  }
}

.viewing-modal__content {
  margin-top: 2rem;
}

.viewing-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.viewing-modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.viewing-modal__dialog {
  position: relative;
  z-index: 2;
  background: white;
  border-radius: 14px;
  max-width: 720px;
  width: 100%;
  padding: 2rem;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.25);
}

.viewing-modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  background: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 3;
  @include max-width(sm) {
  }
}

.viewing-modal__content {
  .gform_wrapper.gravity-theme select {
    @include font-size-16;
  }
  .gform_wrapper {
    margin: 0;
  }

  .gform_title {
    display: none;
  }

  .gform_fields {
    row-gap: 1rem;
  }

  .gfield {
    margin-bottom: 0 !important;
  }

  .ginput_container {
    display: block;
  }
  input,
  select {
    padding: 10px !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea,
  select,
  .gfield_select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    @include bg-color(off-white);
    @include area;
    @include font-size-16;
    line-height: 1.3;
    padding: 16px;
    box-shadow: none;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="number"]::placeholder,
  textarea::placeholder {
    line-height: normal;
    @include text-color(dark-grey);
    @include area(300);
    @include font-size-16;
  }

  textarea {
    min-height: 125px;
    resize: vertical;
  }

  label,
  .gfield_label,
  .gchoice label,
  .gfield_consent_label {
    @include text-color(dark-grey);
    @include area(400);
    @include font-size-16;
    margin-top: 4px;
  }

  .gform_wrapper.gravity-theme .gform_validation_errors > h2 {
    @include area;
    @include font-size-16;
  }

  .gform_confirmation_message_2.gform_confirmation_message {
    @include area;
  }

  .gfield_select,
  select {
    appearance: none;
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 3rem;

    background-image: url("data:image/svg+xml;utf8,<svg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='13' cy='13' r='13' fill='%23D9D9D9'/><path d='M18.2644 10.7583L13.0391 15.5166L7.81371 10.7583' stroke='%232D2D35'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 26px 26px;

    @include max-width(sm) {
      background-size: 17px 17px;
      color: #2d2d35;
    }
  }

  .gfield_select:required:invalid,
  select:required:invalid {
    @include text-color(dark-grey);
    @include area(300);
  }

  .gform-footer {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }

  .gfield--type-consent {
    margin-top: 1rem;
    position: absolute;
    @include max-width(sm) {
      position: relative;
      bottom: 0 !important;
    }
    bottom: 4rem;

    .ginput_container_consent {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .gfield--type-text,
  .gfield--type-email,
  .gfield--type-phone,
  .gfield--type-select {
    label {
      display: none !important;
    }
  }

  .gfield--type-consent {
    legend {
      display: none !important;
    }
    label {
      @include font-size-14;
      @include area;
      margin-top: 0;
      @include text-color(dark-grey);
    }
  }

  .gform_footer,
  .gform-footer {
    margin-top: 2rem;
    padding: 0;

    input[type="submit"],
    button,
    .gform_button {
      border: 0;
      cursor: pointer;
    }
  }

  .gform_validation_errors,
  .validation_message,
  .gfield_validation_message {
    margin-top: 0.5rem;
  }
}

// NEW CSS

.property-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12-col grid */
  gap: 4rem;
  @include max-width(sm) {
    gap: 0rem;
  }
}

/* LEFT: sidebar */
.property-grid-container .side-wrap {
  grid-column: 1 / -1;
}

/* RIGHT: everything else */
.property-grid-container .main-wrap,
.property-grid-container .content-stack {
  grid-column: 1 / -1;
}

@include min-width(md) {
  .property-grid-container .side-wrap {
    grid-column: 1 / 5;
    order: -1;
  }

  .property-grid-container .main-wrap,
  .property-grid-container .content-stack {
    grid-column: 5 / -1;
  }
}

@include min-width(xlg) {
  .property-grid-container .side-wrap {
    grid-column: 1 / 5;
  }
}
