.valuation-btn-wrap {
  position: fixed;
  bottom: 1rem;
  right: 0rem;
  z-index: 1000;
  padding-left: clamp(1.5rem, 1.05rem + 1.92vw, 4.05rem);
  padding-right: 1rem;
  max-width: 125rem;

  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
  pointer-events: auto;

  @include min-width(md) {
    bottom: 2rem;
    padding-right: clamp(1.5rem, 1.05rem + 1.92vw, 4.05rem);
  }

  //   opacity: 0;
  //   visibility: hidden;
  //   transform: translateY(16px) scale(0.95);
  //   pointer-events: none;
  //   transition:
  //     opacity 0.35s ease,
  //     transform 0.35s ease,
  //     visibility 0.35s ease;

  .valuation-btn {
    display: block;
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease;
    cursor: pointer;

    @include max-width(xlg) {
      width: 100px;
      height: 100px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(16px) scale(0.95);
    pointer-events: none;
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
    pointer-events: auto;
  }
}

footer {
  padding-bottom: 1rem;
  z-index: 3;
  position: relative;
  .top {
    .left {
      grid-column: 1 / -1;

      .hero-search {
        width: 450px;
        max-width: 450px;

        @include max-width(sm) {
          max-width: 100%;
        }

        @include min-width(lg) {
          width: 420px;
          max-width: 420px;
        }
      }

      .toggle-wrap {
        z-index: 1;
        position: relative;

        .toggle-btn {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          @include font-size-60;
          @include din;
          position: relative;
          transition: opacity 0.25s ease;
          line-height: 1.2;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0.1em;
            background: rgba(255, 255, 255, 0.2);

            height: 9px;
            @include max-width(xlg) {
              height: 6px;
            }
            @include max-width(lg) {
              height: 4px;
            }
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0.1em;
            height: 9px;
            @include max-width(xlg) {
              height: 6px;
            }
            @include max-width(lg) {
              height: 4px;
            }
            width: 100%;
            background: var(--toggle-color, #{map-get($colors, white)});
            transform: scaleX(0); // 0% by default
            transform-origin: left center; // fill left -> right
            transition: transform 0.85s cubic-bezier(0.16, 1, 0.3, 1);
          }

          &.is-active {
            opacity: 1;

            &::after {
              transform: scaleX(1); // 100% when selected
            }
          }

          &[data-toggle="buy"] {
            @include gradient-text-reveal(
              map-get($colors, green),
              map-get($colors, off-white)
            );
          }
          &[data-toggle="rent"] {
            @include gradient-text-reveal(
              map-get($colors, orange),
              map-get($colors, off-white)
            );
          }
          &[data-toggle="sell"] {
            @include gradient-text-reveal(
              map-get($colors, pink),
              map-get($colors, off-white)
            );
          }
        }

        // .hero-search {
        //   z-index: 1;
        //   position: relative;
        //   margin-top: 2.5rem;
        //   display: flex;
        //   justify-content: center;
        // }

        .hero-search__form {
          display: flex;
          align-items: center;
          width: auto;
          max-width: 450px;
          border-radius: 10px;
          overflow: hidden;
          background: transparent;
          transition:
            background 0.3s ease,
            border-color 0.3s ease;
          @include area;
          --accent: #{map-get($colors, green)};
          border: 1px solid var(--accent);

          &.orange {
            --accent: #{map-get($colors, orange)};
          }
          &.pink {
            --accent: #{map-get($colors, pink)};
          }

          &:focus-within {
            background: #57575c;
          }

          .hero-search__submit svg path,
          .hero-search__submit svg circle,
          .hero-search__submit svg line,
          .hero-search__submit svg polyline {
            stroke: var(--accent) !important;
          }

          .hero-search__field {
            flex: 1;

            input {
              width: 100%;
              padding: 1rem 0.75rem;
              background: transparent;
              border: none;
              outline: none;
              @include text-color(off-white);
              @include font-size-16;
              @include area(300);
            }

            input::placeholder {
              @include text-color(white);
            }
          }

          .hero-search__submit {
            background: transparent;
            border: none;
            padding: 0 0.5rem;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            transition:
              transform 0.3s ease,
              opacity 0.3s ease;
          }

          .hero-search__submit:hover {
            transform: scale(1.08);
            opacity: 0.8;
          }

          .hero-search__submit svg {
            display: block;
          }

          @include min-width(xlg) {
            width: 100%;
            max-width: 100%;
          }
        }
      }

      .popular-searches {
        margin: 2rem 0;

        p {
          line-height: normal;
          @include text-color(off-white);
          @include font-size-16;
          @include area(500);
        }

        .searches {
          flex-wrap: wrap;

          a {
            line-height: normal;
            @include text-color(off-white);
            @include font-size-16;
            @include area(300);
          }
        }
      }

      @include min-width(md) {
        grid-column: 1 / 6;
      }
    }

    .right {
      grid-column: 1 / -1;
      display: grid;
      gap: 0.5rem;

      .footer-menus-container {
        @include min-width(md) {
          grid-column: span 4; // Desktop: takes 4 of the 6 columns
          grid-template-columns: repeat(2, 1fr); // Still 2 internal columns
          display: grid;
          row-gap: 5rem;
        }
      }

      .branches-container {
        @include min-width(md) {
          grid-column: span 2; // Desktop: takes remaining 2 of 6 columns
        }
      }

      button {
        // line-height: 85%;
        letter-spacing: -0.8px;
        @include text-color(green);
        @include font-size-32;
        margin-bottom: 0rem;
        background-color: transparent;
        border: none;
        @include din(400);
        text-transform: uppercase;
        line-height: 1.2;

        @include min-width(md) {
          pointer-events: none;
          padding: 0;
          margin-bottom: 0.5rem;

          svg {
            display: none;
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li + li {
        margin-top: 11px;
      }

      a {
        text-decoration: none;
        @include text-color(off-white);
        @include font-size-16;
        transition: all 0.3s ease-in-out;
        @include area(300);

        &:hover {
          @include text-color(green);
        }
      }

      @include min-width(md) {
        grid-column: 7 / -1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0rem;
        align-items: start;
      }
    }
  }

  .bottom {
    margin-top: 3rem;

    .socials {
      grid-column: 1 / -1;
      align-items: flex-end;
      margin-bottom: 2rem;

      .footer-compliance-logos {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
        @include max-width(sm) {
          flex-wrap: wrap;
        }

        .compliance-logo {
          height: 50px;
          display: flex;
          align-items: center;

          img {
            height: 100%;
            width: auto;
            object-fit: contain;
            display: block;
            max-width: 155px;
          }

          // 👇 apply width cap to all EXCEPT last logo
          &:not(:last-child) img {
            max-width: 104px;
          }
        }
      }

      .footer-social-icons {
        img {
          width: 40px;
          @include max-width(sm) {
            width: 27px;
          }
          height: auto;
          transition: opacity 0.4s ease-in-out;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      @include min-width(md) {
        grid-column: 1 / 6;
        margin-bottom: 0;
      }
    }

    .bottom-menus {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      align-items: flex-end;

      ul {
        list-style: none;
        padding: 0;
      }

      li + li {
        margin-top: 11px;
      }

      a {
        text-decoration: none;
        @include text-color(off-white);
        @include font-size-16;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        @include area(300);

        &:hover {
          @include text-color(green);
        }
      }

      .footer-logo svg {
        max-width: 100%;
        height: auto;
      }

      @include min-width(md) {
        grid-column: 7 / -1;
        grid-template-columns: repeat(3, 1fr);
      }

      @include min-width(xlg) {
        gap: 4rem;
      }
    }

    .bottom-menus > * {
      min-width: 0;
    }

    @include min-width(md) {
      margin-top: 10rem;
    }

    @include min-width(xlg) {
      margin-top: 8rem;
    }
  }

  .dividing-line {
    content: "";
    width: 100%;
    @include bg-color(off-white);
    height: 1px;
    margin: 2.5rem 0;
  }

  .policies {
    flex-wrap: wrap;
    gap: 1rem;

    p,
    a {
      @include font-size-12;
      @include text-color(off-white);
      text-decoration: none;
      @include area(300);
      transition: all 0.4s ease-in-out;
    }

    a:hover {
      @include text-color(green);
    }

    ul {
      list-style: none;
      display: flex;
      gap: 0;
      padding: 0;
    }

    .policies-menu li:not(:last-child)::after {
      content: "|";
      margin: 0 0.75rem;
      opacity: 1;
    }

    @include min-width(md) {
      flex-wrap: unset;
      gap: 0;
    }
  }
}

@include max-width(md) {
  .footer-column.dropdown {
    border-radius: 10px;
    transition: all 0.4s ease-in-out;

    .dropdown-btn {
      @include text-color(green);
      @include font-size-50;
      @include din(600);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      svg {
        transition: all 0.4s ease-in-out;
      }
    }

    .rotate-arrow {
      transform: rotate(180deg);
    }

    .footer-menu {
      max-height: 0; // collapsed
      overflow: hidden;
      transition:
        max-height 0.35s ease,
        opacity 0.35s ease;
      opacity: 0;
    }

    &.active .footer-menu {
      max-height: 500px; // adjust based on content height
      opacity: 1;
      margin-bottom: 1.5rem;
    }
  }
}

/* Optional: mobile only */
@media screen and (max-width: 1024px) {
  .dropdown-btn {
    display: block; /* show toggle button */
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 1023px) {
  .footer-column.dropdown .footer-menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.35s ease,
      opacity 0.35s ease;
  }

  .footer-column.dropdown.active .footer-menu {
    max-height: 500px;
    opacity: 1;
    margin-bottom: 1.5rem;
  }

  .footer-column.dropdown .dropdown-btn svg {
    transition: transform 0.35s ease;
  }

  .footer-column.dropdown .dropdown-btn svg.rotate-arrow {
    transform: rotate(180deg);
  }
}

.sbi-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 99999;
}

.sbi-modal-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.sbi-modal-content {
  position: relative;
  max-width: 70vw;
  margin: 5% auto;
  background: #fff;
  padding: 20px;
  z-index: 2;
  height: 50vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.sbi-modal img {
  width: 100%;
  height: auto;
  display: block;
  width: 50%;
}

.sbi-modal-text {
  width: 50%;
}

.sbi-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}

// Valuation Modal

.valuation-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .valuation-modal-content {
    @include bg-color(off-white);
    padding: 3rem;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    height: auto;
    max-height: 90vh;
    overflow: scroll;

    h2 {
      line-height: 85%; /* 51px */
      text-transform: uppercase;
      @include font-size-60;
      @include din(600);
      @include text-color(dark-grey);
      margin-top: 1.5rem;
    }

    .top {
      flex-direction: column;

      @include min-width(md) {
        flex-direction: row;
      }
    }

    @include min-width(md) {
      width: 40%;
      display: flex;
      text-align: left;
      flex-direction: column;
    }
  }

  .close {
    margin-top: 10px;
    padding: 8px 12px;
    background: #e5e7eb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

#postcode {
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  @include bg-color(off-white);
  padding: 1rem 1.5rem;
  width: 100%;
  @include area(300);
  @include font-size-18;
  @include text-color(dark-grey);
  line-height: 1;

  &::placeholder {
    @include area(300);
    @include font-size-18;
    @include text-color(dark-grey);
    line-height: 1;
  }
}

.top {
  margin-top: 2rem;

  .cta-button {
    flex-shrink: 0;
  }
}

#valuation-modal {
  .form-helper {
    text-decoration: underline;
    margin-top: 1rem;
    @include text-color(dark-grey);
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      @include text-color(pink);
    }
  }
}

#gform_fields_4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

// #gform_wrapper_4 {
//   display: none;
//   opacity: 0;
//   transform: translateY(10px);
//   transition: 0.25s ease;
// }

#field_4_4,
#field_4_6,
#field_4_7,
#field_4_8,
#gform_wrapper_4 .gform-footer,
#gform_wrapper_4 {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.25s ease;
}

#field_4_4.is-visible,
#field_4_6.is-visible,
#field_4_7.is-visible,
#field_4_8.is-visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

// #gform_wrapper_4.is-visible {
//   display: block;
//   opacity: 1;
//   transform: translateY(0);
// }

#input_4_3.is-visible,
#gform_wrapper_4 .gform-footer.is-visible,
#gform_wrapper_4.is-visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#gform_4 {
  label {
    display: none;
  }

  .ginput_container {
    input,
    select {
      border-radius: 5px;
      border: 1px solid #d7d7d7;
      @include bg-color(off-white);
      padding: 1rem 1.5rem;
      width: 100%;
      @include area(300);
      @include font-size-18;
      @include text-color(dark-grey);
      line-height: 1;
    }

    input::placeholder,
    select::placeholder {
      @include area(300);
      @include font-size-18;
      @include text-color(dark-grey);
      line-height: 1;
    }
  }
  .cta-button {
    width: 100%;
    justify-content: center;
  }
}

// Enquiry Modal

#enquiry-modal {
  h2 {
    width: 60%;
    text-align: left;
  }

  input,
  select,
  textarea {
    width: 100%;
  }

  label {
    position: absolute;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
  }

  .gform_wrapper.gravity-theme .gform_fields {
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 16px;
    width: 100%;
    margin: 2rem 0;
  }

  .gform_wrapper.gravity-theme .gform_footer {
    display: flex;
  }

  .form-wrapper .ginput_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-wrap: balance;
  }

  #field_1_8 .ginput_container_consent label {
    font-style: normal;
    margin-top: 4px;
    @include text-color(dark-grey);
    @include area(300);
    @include font-size-16;
    position: relative;
    width: 100%;
    height: auto;
    clip-path: unset;
    text-align: left;
  }

  fieldset {
    border: none;
  }

  legend {
    display: none;
  }
}

// Cookie Consent

.cc-bottom {
  display: none;
}

.cc-window.cc-floating {
  position: fixed !important;
  bottom: 2% !important;
  right: 0 !important;
  left: 1% !important;
  width: fit-content;
  max-width: 400px !important;
  border-radius: 6px !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  flex-direction: column !important;
  /* border-radius: 6px; */
  gap: 1rem;
  z-index: 999999999999;
  background-color: #faf8f4;
  border: 2px solid #c1d42f;
  @include area(400);

  @include max-width(sm) {
    right: 2% !important;
    left: 2% !important;
    max-width: none !important;

    span {
      text-align: center;
    }
  }
}

.cc-compliance {
  display: flex !important;
  gap: 1.5rem;
  margin: 0;
  justify-content: flex-end;
}

.cc-theme-classic .cc-btn {
  text-decoration: none;
}
.cc-compliance .cc-btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-radius: 6px;
  max-width: fit-content;
  transition: all 0.3s ease;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  z-index: 1;
}

.cc-compliance .cc-btn.cc-allow {
  background-color: #c1d42f;
  color: #2d2d35;
}

.cc-compliance .cc-btn.cc-deny {
  background-color: #2d2d35;
  color: #ffffff;
}

.cc-theme-classic .cc-btn:last-child {
  min-width: auto !important;
}

.cc-message {
  margin: 0;
  line-height: 1.4;
  color: #2d2d35;
  font-size: clamp(1rem, 0.8rem + 1vw, 1.125rem);
}

.cc-message a {
  @include area();
  color: #2d2d35;
  font-size: clamp(1rem, 0.8rem + 1vw, 1.125rem);
  transition: all ease-in-out 0.4s;

  &:hover {
    color: #ff2e69;
  }
}

.cc-compliance .cc-btn.cc-allow::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateY(101%);
  transition: transform 0.35s ease;
  background: #ff2e69;
  z-index: -1;
}

.cc-compliance .cc-btn.cc-deny::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateY(101%);
  transition: transform 0.35s ease;
  background: #c1d42f;
  z-index: -1;
}

.cc-compliance .cc-btn.cc-allow:hover {
  color: #ffffff;
}

.cc-compliance .cc-btn.cc-deny:hover {
  color: #2d2d35;
}

.cc-compliance .cc-btn.cc-allow:hover::before,
.cc-compliance .cc-btn.cc-allow:focus-visible::before,
.cc-compliance .cc-btn.cc-deny:hover::before,
.cc-compliance .cc-btn.cc-deny:focus-visible::before {
  transform: translateY(0);
}
