.office-graphic {
  .text {
    grid-column: span 4;
    @include max-width(sm) {
      grid-column: 1 / -1;
    }
    h3 {
      line-height: 0.9;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
    h3,
    p {
      @include text-color(dark-grey);
    }
  }
  .cta-button {
    margin-top: 2rem;
  }
  .image {
    grid-column: 6 / 13;
    @include max-width(sm) {
      grid-column: 1 / -1;
    }
    img {
      object-fit: contain;
    }
  }
}
